{% extends "base.html" %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h2>Create Account 🚀</h2>

        <p class="sub-text">
            Join <strong>AI Career Copilot</strong> and start improving your resume with AI.
        </p>

        <form method="POST">

            <label>Email Address</label>
            <input
                type="email"
                name="email"
                placeholder="john@example.com"
                required
            >

            <label>Password</label>
            <input
                type="password"
                name="password"
                placeholder="Create a strong password"
                minlength="6"
                required
            >

            <small class="password-note">
                Password must contain at least 6 characters.
            </small>

            <button type="submit">
                Create Account
            </button>

        </form>

        <p class="switch-auth">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

{% endblock %}